@import "grid";

a:link, a:visited {
  text-decoration: none;
  color: $ocean;
}

p > a:hover {
  text-decoration: underline;
}

p.quotation {
  text-align: left;
}

// set h1-h6 font sizes
@for $i from 1 through 6 {
  h#{$i} { font-size: (84-($i * 8)+ px); font-weight: bold}
}

.page-header {
  color: $ocean;
}

.speckled-egg-theme {
  @include speckled-egg-background($default-main-color, 0.2, 0.2);
  font-family: 'Josefin Sans', sans-serif;
  color: $default-font-color;
}

header {
  margin-bottom: 50px;
}

form.default-form {
  padding: 5px;
  background: $default-paragraph-background;

    input {
      display: block;
      line-height: 1.5em;
      width: 40%;
      margin-bottom: 10px;
    }

    input:focus {
      border: solid 1px $default-main-color;
      box-shadow: 0 0 5px 2px darken($default-main-color, 40%);
    }

    input[type="submit"] {
      @include rounded-button(15px);
      margin: auto 0 auto auto;
      width: 80px;
      border: none;
    }

    label {
      float: left;
      text-align: right;
      margin-right: 10px;
      width: 50%;
    }
}

.drop-down-element {
  width: 100%;
  display: none;
  padding: 10%;
  margin: 10px auto 20px auto;
  background-color: darken($default-main-color, 10%);
}

.fixed-top-nav {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  @include navbar-default-background($default-main-color);

    ul {
      padding-top: .5em;
      padding-left: 1em;
      float: right;
      list-style-type: none;
      // font-size: 20px;
    }

    li {
      display: inline;
      margin-right: 1em;
    }

    a {
      padding: .3em;
      font-size: 20px;
      text-decoration: none;
      color: white;

      &:hover {
        @include border-radius(5px);
        font-weight: bold;
        background-color: #fff;
        color: darken($default-main-color, 50%);
      }
    }
}

// adjust navbar font size and header for small screens
@media all and (max-width:795px) {
  h1, h5 {
    padding: 10px 0 10px 0;
    background-color: rgba(255,255,255, 0.8);
  }

  h5 {
    font-size: 24px;
  }

  .fixed-top-nav a {
    margin-right: .5em;
    font-size: 16px;
  }
}

.page-header {
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.sidebar {
  padding-bottom: .5em;
  padding-top: .5em;
  text-align: left;
  list-style-position: inside;
  // border: 1px solid darken($default-main-color, 80%);
}

.column-header {
  padding-top: .3em;
  padding-bottom: .3em;
  margin-bottom: .3em;
  text-align: center;
  background-color: darken($default-main-color, 30%);
  color: rgba(255,255,255, 0.8);
}

.sidebar-li {
  padding-left: 2em;
  line-height: 1.3em;
}

// Slider css (Javascript & jQuery by Jon Duckett, Wiley 2014)
.slider {
  height: 500px;
  padding: 5%;
  background-color: $default-paragraph-background;
}

.slide-viewer {
  position: relative;
  overflow: hidden;
  height: 200px;
  margin-bottom: 10px;
}

.slide-group {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

.slide:first-child {
  display: block;
}